.implementationPlanContainer {
  width: 100%;
}

.topImplementationContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.implementationPlanTitle {
  flex: 1;
}

.controls {
  text-align: right;
  flex: 1;
  cursor: pointer;
  color: #c40000;
  font-weight: 800;
  font-size: 16px;
}

.controls:hover {
  color: #d31b1b;
  text-decoration: underline;
}

.formContainer {
  display: flex;
  background: #F2F2F2;
  padding: 15px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formContainer label {
  top: 0;
  font-size: 14px;
}

.formContainer input[type="text"],
.formContainer input,
.formContainer select {
  background: #fff;
  font-size: 14px;
  height: 40px;
  margin-top: 10px;
  padding: 0 10px;
  width: 100%;

}

.formRow {
  display: flex;
  width: 100%;
}

.formColumn {
  padding: 0 10px;
  flex: .9;
  justify-content: space-between;
}

.formButtonContainer {
  float: right;
}

.formContainer .buttonCancel {
  background: transparent;
  color: #c40000;
  font-weight: 600;
  cursor: pointer;
}

.formButtonContainer button {
  margin: 0;
}

.formButtonContainer .saveButton {
  cursor: pointer;
}

.formButtonContainer .saveButton:hover {
  background: #d31b1b;
}

.formContainer .buttonCancel:hover {
  text-decoration: underline;
}

.singleTaskContainer {
  background: #f2f2f2;
  position: relative;
  padding: 15px;
  padding-right: 50px;
  margin: 15px 0px;
}

.singleTaskContainer.clearBackground {
  background: transparent;
  padding: 0;
}

.singleTaskContainer.clearBackground .taskBottomInfo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.singleTaskContainer button:disabled {
  background: #A3A3A3;
  cursor: not-allowed;
}

.userView .implementationPlanTitle {
  margin-bottom: 30px;
}

.userView .singleTaskContainer {
  border-bottom: 2px solid #E2E2E2;
}

.taskControls {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
}

.singleTaskContainer h3 {
  font-size: 17px;
}

.singleTaskContainer h3,
.singleTaskContainer p {
  width: 100%;
  display: inline-block;
  word-wrap: break-word;
}

.singleTaskContainer p {
  margin: 5px 0;
  font-size: 14px;
}

.singleTaskContainer svg {
  margin: 5px 10px;
  cursor: pointer;
}

.singleTaskContainer .deleteControl {
  fill: #c40000;
}

.singleTaskContainer .editControl {
  fill: #3572e2;
}

.taskBottomInfo {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.taskBottomInfo span strong {
  color: rgba(71, 71, 71, 0.486);
  font-weight: 800;
}

.taskBottomInfo span {
  font-weight: 100;
  flex: 1;
  color: rgba(71, 71, 71, 0.486);
  word-break: break-all;
  margin-right: 10px;
}

.addAtachment {
  position: absolute;
  color: #c40000;
  right: 0;
  top: -20px;
  font-weight: 800;
  cursor: pointer;
}

.fileUploadContainer svg {
  height: 30px;
  width: 30px;
  fill: #c40000;
}

.fileUploadContainer .uploadInput {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 15px;
  background: #f2f2f2;
  border-radius: 3px;
  border: 0;
  display: flex;
  align-items: center;
  color: #c40000;
}

.filesContainer {
  display: flex;
  max-width: 720px;
  flex-wrap: wrap;
}

.fileViewContainer {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 90px;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  position: relative;
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap;
  /*Chrome & Safari */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: pre-wrap;
  /* css-3 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}

.fileViewContainer svg {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.removeFile {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.removeFile:hover {
  opacity: 1;
}

.removeFile:before,
.removeFile:after {
  position: absolute;
  left: 5px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #333;
}

.removeFile:before {
  transform: rotate(45deg);
}

.removeFile:after {
  transform: rotate(-45deg);
}