/* FormHeader */
.formHeader {
  width: 100vw;
  height: 100px;
  padding: 30px 0;
}

.formHeaderInfoContainer {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formNumber {
  color: #aaa;
}

.formStatus {
  background: #aaa;
  color: #fff;
  border-radius: 30px;
  min-width: 120px;
  height: 45px;
}

.closeForm {
  position: absolute;
  left: 30px;
  top: 40px;
  font-size: 30px;
}

/* Form Editor Css */
.formEditorContainer {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 60px;
}

.fieldContainer {
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  padding-right: 20px;
  padding-top: 20px;
}

.fieldContainer:hover .addField,
.fieldContainer:hover .moveHandle{
  display: block;
}

.fieldContainer:hover .topControls {
  display: flex;
}

/* controls */
.addField {
  display: none;
  position: absolute;
  bottom: -10px;
  width: calc(100% - 20px);
  color: #1592E6;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: 0 0 10px;
}

.addField:before {
  position: absolute;
  content: " ";
  border-bottom: 2px solid #1592E6;
  width: calc( 50% - 50px );
  left: 0;
  bottom: 60%;
}

.addField:after {
  position: absolute;
  content: " ";
  border-bottom: 2px solid #1592E6;
  width: calc( 50% - 50px );
  right: 0;
  bottom: 60%;
}

.topControls {
  background: #fff;
  display: flex;
  position: absolute;
  right: 20px;
  top: -10px;
  z-index: 3;
  display: none;
}

.edit, .delete {
  margin-left: 10px;
  cursor: pointer;
}

.moveHandle {
  display: none;
  position: absolute;
  right: 5px;
  bottom: 50%;
  transform: translateY(50%);
  cursor: grab;
}

.moveHandle:active {
  cursor: grabbing;
}

.moveHandle svg g{
  fill: #a3a3a3;
}

/* column width */
.col-6 {
  float: left;
  width: 50%;
}

.col-12 {
  width: 100%;
  float: left;
}

.section {
  width: 720px;
  margin-left: -60px;
  margin-right: -60px;
}

/* input styles */
label {
  position: absolute;
  top: -13px;
  font-size: 21px;
}




