.modalOverlay {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBody {
  position: relative;
  width: 400px;
  background: #fff;
  padding: 30px;
}

.modalFormContainer h2 {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.modalFormContainer {
  position: relative;
}

.modalFormContainer label {
  position: relative;
  font-size: 14px;
}

.modalFormContainer button {
  background: #c40000;
  margin: 50px auto 0;
  display: block;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  border: 0;
  padding: 9px 40px;
}

.buttonGroup button {
  background: #a3a3a3;
  padding: 5px;
  font-size: 12px;
  margin: 5px;
  color: white;
}

.buttonGroup h2 {
  font-size: 16px;
  margin: 5px;
}

.modalFormContainer textarea {
  white-space: pre-line;
}

.modalBody .close {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  font-weight: 800;
  color: white;
  background: #ccc;
  border-radius: 20px;
  text-align: center;
}

.buttonGroup button.section,
.buttonGroup button.subSection,
.buttonGroup button.singleLine,
.buttonGroup button.multiLine,
.buttonGroup button.checkbox,
.buttonGroup button.radio,
.buttonGroup button.numeric,
.buttonGroup button.datepicker,
.buttonGroup button.hyperlink,
.buttonGroup button.paragraph,
.buttonGroup button.fileUpload,
.buttonGroup button.multipleCheckbox {
  background: #222;
}

.toleranceContainer {
  margin-top: 20px;
}

.radioContainer {
  margin-bottom: 15px;
  padding: 0 0 20px;
}

.radioContainer h3 {
  font-size: 21px;
  position: absolute;
  top: -13px;
}

.radioContainer label {
  position: relative;
  top: 5px;
  margin-right: 20px;
  padding-left: 40px;
  text-transform: capitalize;
  font-size: 14px;
  padding-top: 5px;
}

.radioContainer input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

.radioContainer input[type="text"] {
  margin-top: 20px;
}

.customRadio {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #c40000;
}

.radioContainer input[type="radio"]:checked ~ .customRadio:after {
  position: absolute;
  background-color: #c40000;
  content: " ";
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
