/* Section Css */
.section {
  background: #ADB6D8;
  padding: 13px 19px;
}

.section h2 {
  color: #fff;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 400;
}

.subSection {
  padding: 10px 20px;
  border-top: 2px solid #E2E2E2;
  border-bottom: 2px solid #E2E2E2;
  margin-bottom: 20px;
}

.subSection h2 {
  font-size: 16px;
}