.colShort {
  width: 50%;
  float: left;
}

.colLong {
  width: 100%;
  float: left;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 15px;
  background: #f2f2f2;
  border-radius: 3px;
  border: 0;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 15px;
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  background: #f2f2f2;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
}

/* Radio */
.radioContainer {
  margin-bottom: 15px;
  padding: 0 0 20px;
}

.radioContainer h3 {
  font-size: 21px;
  position: relative;
  top: -13px;
  width: 100%;
  word-break: break-all;
}

.radioContainer label {
  position: relative;
  top: 5px;
  margin-right: 20px;
  padding-left: 40px;
  text-transform: capitalize;
  font-size: 14px;
  padding-top: 5px;
  margin-bottom: 20px;
  display: inline-block;
  width: auto;
}

.radioContainer input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

.radioContainer input[type="text"] {
  margin-top: 20px;
}

.customRadio {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #c40000;
}

.radioContainer input[type="radio"]:checked ~ .customRadio:after {
  position: absolute;
  background-color: #c40000;
  content: " ";
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

/* numeric */
.numericFieldsContainer {
  display: flex;
}

.numericField input[type="number"] {
  flex: 1;
}

.numericField .tolerance {
  flex: 1;
  display: flex;
  padding: 0 5px;
}

.numericField .tolerance input[type="number"] {
  flex: 1;
  padding-right: 25px;
}

.toleranceSign {
  margin: 0 5px;
  position: relative;
  height: 50px;
}

.toleranceSign span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* checkbox */
.multipleCheckBoxContainer {
  position: relative;
  display: block;
  padding-bottom: 20px;
}

.multipleCheckBoxContainer h3 {
  position: relative;
  top: -13px;
  width: 100%;
  word-break: break-all;
}

.checkBoxGroup {
  margin-top: 30px;
}

.multipleCheckBoxContainer label {
  position: relative;
  display: inline-block;
  padding: 0 20px 0 30px;
  margin-bottom: 10px;
  font-size: 16px;
  width: auto;
}

.multipleCheckBoxContainer .checkBoxContainer .innerCheck:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.multipleCheckBoxContainer .checkBoxContainer .innerCheck {
  height: 18px;
  width: 18px;
}

.checkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.innerCheck:after {
  content: "";
  position: absolute;
  display: none;
}

.checkBoxContainer:hover input ~ .innerCheck {
  background-color: #eee;
}

.checkBoxContainer input:checked ~ .innerCheck {
  background-color: #c40000;
}

.innerCheck {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid #c40000;
}

.checkBoxContainer input:checked ~ .innerCheck:after {
  display: block;
}
.checkBoxContainer .innerCheck:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkBox {
  padding: 0 0 20px;
}

.checkBox label {
  position: relative;
  top: 0;
  padding-left: 30px;
  width: auto;
}

.checkBox input {
  margin-top: 10px;
}

/* calendar */
.DatePickerContainer > div {
  width: 100%;
}

.DatePickerContainer input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 15px;
}

/* error */
.formError {
  position: absolute;
  bottom: 0;
  color: red;
}

/* hyperlink */
.hyperlink {
  padding-bottom: 10px;
}

.hyperlink a {
  color: #4a90e2;
  text-decoration: none;
}

.hyperlink a:hover {
  text-decoration: underline;
}

/* multiple hyperlink */
.MultipleHyperLinkContainer {
  padding-bottom: 20px;
}

.MultipleHyperLinkContainer button {
  background: #c40000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  border: 0;
  padding: 9px 40px;
  margin: 0 5px 20px 0;
}

.MultipleHyperLinkContainer a {
  margin: 5px 0;
  display: block;
  color: #4a90e2;
}

.MultipleHyperLinkContainer .linksContainer {
  margin-top: 10px;
}

span.addPackaging,
.MultipleHyperLinkContainer span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}
span.addPackaging:hover,
.MultipleHyperLinkContainer span:hover {
  color: #c40000;
}

.hyperLinksContainer a {
  display: block;
  color: #4a90e2;
}

.actionButton {
  background: #c40000;
  display: block;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  border: 0;
  padding: 9px 40px;
  margin-bottom: 20px;
}

.select {
  margin-bottom: 20px;
}

.select select {
  height: 50px;
  background: #f2f2f2;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  padding: 0 20px;
  width: 100%;
  margin-bottom: 10px;
}

/* filupload */

.fileUploadContainer svg {
  height: 30px;
  width: 30px;
  fill: #c40000;
}

.fileUploadContainer .uploadInput {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 15px;
  background: #f2f2f2;
  border-radius: 3px;
  border: 0;
  display: flex;
  align-items: center;
  color: #c40000;
}
.filesContainer {
  display: flex;
  max-width: 720px;
  flex-wrap: wrap;
}

.fileViewContainer {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 90px;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  position: relative;
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap; /*Chrome & Safari */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* css-3 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}

.fileViewContainer svg {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.removeFile {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.removeFile:hover {
  opacity: 1;
}

.removeFile:before,
.removeFile:after {
  position: absolute;
  left: 5px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #333;
}

.removeFile:before {
  transform: rotate(45deg);
}

.removeFile:after {
  transform: rotate(-45deg);
}

.buttonDefault {
  background: #c40000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  border: 0;
  padding: 9px 40px;
  margin: 0 5px 20px 0;
}

input[type="text"].halfInput {
  width: 46%;
  margin-right: 2%;
}
.inputContainer {
  margin-top: 20px;
}

.package span {
  display: none;
  margin-left: 10px;
  color: #c40000;
}

.package:hover span {
  display: inline;
}

.package {
  margin: 5px 0;
  display: block;
  color: #444;
  font-size: 14px;
}

.linksContainer {
  margin-top: 10px;
}

/* paragraph */
.paragraph {
  white-space: pre-line;
}
